<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>ICF Research </title>
    <link href="Styles/master.css" rel="stylesheet" type="text/css" />
    <link type="text/css" rel="stylesheet" href="Styles/style.css" />
    <style type="text/css">
        .style1
        {
            height: 33px;
        }
    </style>
</head>
<body>
    <form method="post" action="ContactUs.aspx" id="ctl01">
    <div class="aspNetHidden">
        <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKMTY1NDU2MTA1MmRkPDpwqWOny7kSVZEkRjvY1rn5zGaq4hnbN63xmGQes7A=" />
    </div>
    <div class="container">
        <div class="header">
            <div class="logo_main">
                <div class="logo">
                    <a href="about.aspx">
                        <img src="images/logo2.jpg" width="353" height="47" border="0" alt="ICF" /></a>
                </div>
            </div>
            <div class="banner">
                <img src="images/banner.jpg" alt="banner" /></div>
            <div class="menu">
                <ul>
                    <li><a href="about.aspx">What is ICF Research</a></li>
                    <li><a href="Participate.aspx">How do I participate</a></li>
                    <li><a href="WhatWeDo.aspx">What we do</a></li>
                    <li><a href="Benefits.aspx">Benefits</a></li>
                    <li><a href="ContactUs.aspx" style="background-color: #4daae3; color: #000;">Contact
                        Us</a></li>
                </ul>
            </div>
        </div>
        <div class="body">
            <div class="icfr_head">
                <span class="head_txt_grey">FAQs</span></div>
            <div class="icfr_main" style="background-color: White;">
                <table>
                    <tr>
                        <td>
                            <div>
                                <div class="quest">
                                    <table cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td>
                                                <a name="#B15" class="button" name="open" onclick="Show('#B15',this)">
                                                    <div>
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    How To Add Us To Your Email ?
                                                                </td>
                                                                <td>
                                                                    <img id="B15show" class="simage" alt="expand" src="images/show.png" /><img class="himage"
                                                                        id="B15hide" alt="hide" src="images/hide.png" />
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div id="B15" class="questbody">
                                                    <h3>
                                                        Instructions – to add us to your email - How can I add P&G to my email Safe Sender List?
                                                        </h3>
                                                    <p>
                                                        &nbsp;&nbsp;To make sure you receive our emails please add the domain name of our
                                                        email provider to your safe sender list (sometimes called a whitelist).
                                                        <br />
                                                        <br />
                                                        In addition, if you find email from P&G in your spam or junk folder, you will need to tell your email software that it's not spam by hitting the not spam or not junk button. This action will train your email program to allow emails from these addresses in the future.
                                                    </p>
                                                    <h3>
                                                        <u>GMail</u></h3>
                                                    <p>
                                                        To ensure that you receive our emails in your inbox, you can add the last part of
                                                        our email address (called the domain name) to your contact list. Log into your GMail
                                                        account
                                                        <ul>
                                                            <li>Click the Show search options downward-pointing triangle in your Gmail main search
                                                                box in the middle of the page. </li>
                                                            <li>Add "Salesforce.com" into the box titled ‘Has the words’ (not including the quotation
                                                                marks) </li>
                                                            <li>Click on ‘Create filter with this search’ link at the bottom of the search window.
                                                            </li>
                                                            <li>Make sure 'Never send it to Spam' is checked. </li>
                                                            <li>Click Create filters </li>
                                                        </ul>
                                                    </p>
                                                    <h3>
                                                        <u>Outlook.com (Formerly Hotmail or MSN) </u>
                                                    </h3>
                                                    <p>
                                                        Open your Outlook mailbox.
                                                        <ul>
                                                            <li>Select Options from the top right (next to the question mark)</li>
                                                            <li>Select <b>Safe and blocked senders</b> (under Preventing junk email) <b>>Safe senders.</b></li>
                                                            <li>In the space provided, enter "@Salesforce.com"</li>
                                                            <li>Select <b>Add to list.</b></li>
                                                        </ul>
                                                    </p>
                                                    <h3>
                                                        <u>Yahoo</u></h3>
                                                    <p>
                                                        Log on to your Yahoo account
                                                        <ul>
                                                            <li>Click on the [Addresses] or [contacts] icon (top left hand side of the page)</li>
                                                            <li>Click on [Add Contact]</li>
                                                            <li>In the Name section add 'P&G' and with Email you should add '@salesforce.com’</li>
                                                            <li>Click [Save Contact] and then on the next page click [Done]</li>
                                                        </ul>
                                                    </p>
                                                    <h3>
                                                        <u>Outlook</u></h3>
                                                    <p>
                                                        Log into your Outlook account</p>
                                                    <ul>
                                                        <li>From the menu bar select "Actions", then "Junk E-mail", then "Junk E-mail Options"</li>
                                                        <li>From the "Junk E-mail Options" window select the "Safe Recipients" tab</li>
                                                        <li>Click the [Add] button</li>
                                                        <li>In the "Add Address or Domain" window enter '@salesforce.com’ in the text entry
                                                            box</li>
                                                        <li>Click the [OK] button on Add Domain box and then click the next [OK] button on the
                                                            Junk Email Options box.</li>
                                                    </ul>
                                                    <h3>
                                                        <u>Most Other Email Clients</u></h3>
                                                    <p>
                                                        &nbsp; &nbsp;Normally it is simply a case of adding "Salesforce.com" as an email
                                                        address to your Contact list and/or Address book. Once you have "Salesforce.com"
                                                        registered as a genuine contact, your email shouldn’t consider any correspondence
                                                        from us as spam. Search the 'Help' section
                                                        <br />
                                                        <br />
                                                       Please note that it is possible that not all emails from Salesforce.com will be delivered to your inbox, there may be cases where it is delivered to your bulk/junk mail folders. Please ensure that you check them regularly to ensure that you do not miss any emails from P&G.
                                                       <!-- <br />
                                                        <br />
                                                        <span style="text-align: center; color: red;">Note to Ram: Update where you located.
                                                            Change phone number and ***</span>-->
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <div class="quest">
                                    <table cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td>
                                                <a name="#B" class="button" name="open" onclick="Show('#B',this)">
                                                    <div>
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    Do you have any studies I could participate in soon?
                                                                </td>
                                                                <td>
                                                                    <img id="Bshow" class="simage" alt="expand" src="images/show.png" /><img class="himage"
                                                                        id="Bhide" alt="hide" src="images/hide.png" />
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div id="B" class="questbody">
                                                    <p>
                                                        &nbsp;&nbsp; We have a variety of studies and each study has unique qualifications
                                                        based on the project team needs. We will email you study questionnaires for upcoming
                                                        studies. The answers you provide determine your eligibility.
                                                        <br />
                                                        <br />
                                                        If you qualify, we will contact you either via email or phone with the full study details. Be sure
                                                        to check your email often.
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <div class="quest">
                                    <table cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td>
                                                <a name="#B1" class="button" name="open" onclick="Show('#B1',this)">
                                                    <div>
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    What kind of studies do you have coming up?
                                                                </td>
                                                                <td>
                                                                    <img id="B1show" class="simage" alt="expand" src="images/show.png" /><img class="himage"
                                                                        id="B1hide" alt="hide" src="images/hide.png" />
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div id="B1" class="questbody">
                                                    <p>
                                                        &nbsp;&nbsp; We never know what’s around the corner, but we always have a variety
                                                        of studies running from product testing in a facility or in your home, and discussions
                                                        about products you are using.
                                                        <br />
                                                        <br />
                                                        We send out questionnaires for all our upcoming studies. Check your email often.
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <div class="quest">
                                    <table cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td>
                                                <a name="#B2" class="button" name="open" onclick="Show('#B2',this)">
                                                    <div>
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    Does this study pay more or less than
                                                                    the other one I just filled out?
                                                                </td>
                                                                <td>
                                                                    <img id="B2show" class="simage" alt="expand" src="images/show.png" /><img class="himage"
                                                                        id="B2hide" alt="hide" src="images/hide.png" />
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div id="B2" class="questbody">
                                                    <p>
                                                        &nbsp;&nbsp; We receive panel and payment details once a panelist qualifies. You
                                                        may qualify for more than one study and be paid for both studies. If you qualify,
                                                        we will contact you either via email or phone with the full study details and payment
                                                        information.<br />
                                                        <br />
                                                        Compensation is based on your time, travel, and effort required for each panel.
                                                        Each panel requires different levels of effort and time.
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <div class="quest">
                                    <table cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td>
                                                <a name="#B3" class="button" name="open" onclick="Show('#B3',this)">
                                                    <div>
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    When do I get paid?
                                                                </td>
                                                                <td>
                                                                    <img id="B3show" class="simage" alt="expand" src="images/show.png" /><img class="himage"
                                                                        id="B3hide" alt="hide" src="images/hide.png" />
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div id="B3" class="questbody">
                                                    <p>
                                                        &nbsp;&nbsp;It normally takes 10-15 business days to receive compensation after
                                                        you have completed a study.
                                                        <br />
                                                        <br />
                                                        If you do not receive your payment within this time frame, please contact us at
                                                        513-242-5752  so we may inquire about the status on your behalf.
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <div class="quest">
                                    <table cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td>
                                                <a name="#B4" class="button" name="open" onclick="Show('#B4',this)">
                                                    <div>
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    I forgot what time my appointment is scheduled. How do I find out?
                                                                </td>
                                                                <td>
                                                                    <img id="B4show" class="simage" alt="expand" src="images/show.png" /><img class="himage"
                                                                        id="B4hide" alt="hide" src="images/hide.png" />
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div id="B4" class="questbody">
                                                    <p>
                                                        &nbsp;&nbsp;Not a problem. Please call us at 513-242-5752 .
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <div class="quest">
                                    <table cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td>
                                                <a name="#B5" class="button" name="open" onclick="Show('#B5',this)">
                                                    <div>
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    Where are you located?
                                                                </td>
                                                                <td>
                                                                    <img id="B5show" class="simage" alt="expand" src="images/show.png" /><img class="himage"
                                                                        id="B5hide" alt="hide" src="images/hide.png" />
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div id="B5" class="questbody">
                                                    <p>
                                                        &nbsp;&nbsp;We are centrally located in Cincinnati, Ohio. We recruit panelists for several different agencies including BRI Research facility in West Chester, and Procter & Gamble’s Consumer Village in St. Bernard, among others.
                                                        <br />
                                                        <br />
                                                        If you qualify for a study, we will contact you via email or phone with the specific
                                                        site location and directions.
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <div class="quest">
                                    <table cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td>
                                                <a name="#B6" class="button" name="open" onclick="Show('#B6',this)">
                                                    <div>
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    I just finished a study, how long do I have to wait before I qualify to do another
                                                                    one?
                                                                </td>
                                                                <td>
                                                                    <img id="B6show" class="simage" alt="expand" src="images/show.png" /><img class="himage"
                                                                        id="B6hide" alt="hide" src="images/hide.png" />
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div id="B6" class="questbody">
                                                    <p>
                                                        &nbsp;&nbsp;The great news is you don’t have to wait because we work with a variety
                                                        of Brands. You just need to watch your email for questionnaires.
                                                        <br />
                                                        <br />
                                                        If you qualify, we will contact you either via email or phone with the full study
                                                        details.
                                                        <br />
                                                        <br />
                                                        Be sure to check your email often.
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <div class="quest">
                                    <table cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td>
                                                <a name="#B7" class="button" name="open" onclick="Show('#B7',this)">
                                                    <div>
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    How do I get on your list to do studies?
                                                                </td>
                                                                <td>
                                                                    <img id="B7show" class="simage" alt="expand" src="images/show.png" /><img class="himage"
                                                                        id="B7hide" alt="hide" src="images/hide.png" />
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div id="B7" class="questbody">
                                                    <p>
                                                        &nbsp;&nbsp;All you need to do is register on our website. Go to the “How do I participate”
                                                        tab. Click the “To Register” link.
                                                        <br />
                                                        <br />
                                                        After we receive your registration, watch your email for questionnaires to determine
                                                        your eligibility for upcoming panels.
                                                        <br />
                                                        <br />
                                                        If you qualify, we will contact you either via email or phone with the full study
                                                        details.
                                                        <br />
                                                        <br />
                                                        Be sure to check your email often.
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <div class="quest">
                                    <table cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td>
                                                <a name="#B8" class="button" name="open" onclick="Show('#B8',this)">
                                                    <div>
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    If I bring a friend, can she do the study as well?
                                                                </td>
                                                                <td>
                                                                    <img id="B8show" class="simage" alt="expand" src="images/show.png" /><img class="himage"
                                                                        id="B8hide" alt="hide" src="images/hide.png" />
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div id="B8" class="questbody">
                                                    <p>
                                                        &nbsp;&nbsp;No, all our studies require specific qualifications and not everyone
                                                        qualifies for every study.
                                                        <br />
                                                        <br />
                                                        Your friend can register on our home page to become a panelist for future studies.
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <div class="quest">
                                    <table cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td>
                                                <a name="#B9" class="button" name="open" onclick="Show('#B9',this)">
                                                    <div>
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    Why haven’t I been called yet?
                                                                </td>
                                                                <td>
                                                                    <img id="B9show" class="simage" alt="expand" src="images/show.png" /><img class="himage"
                                                                        id="B9hide" alt="hide" src="images/hide.png" />
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div id="B9" class="questbody">
                                                    <p>
                                                        &nbsp;&nbsp;Qualifications vary on every study. If you have not been contacted via
                                                        email or phone from us, then you did not qualify for that specific study.
                                                        <br />
                                                        <br />
                                                        We run hundreds of studies a year so be sure to check your email often for the next
                                                        opportunity.
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <div class="quest">
                                    <table cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td>
                                                <a name="#B10" class="button" name="open" onclick="Show('#B10',this)">
                                                    <div>
                                                        <table>
                                                            <tr>
                                                                <td class="style1">
                                                                    I just did a study and they said two weeks to get my bank card, it’s been two weeks
                                                                    today and it didn’t come?
                                                                </td>
                                                                <td class="style1">
                                                                    <img id="B10show" class="simage" alt="expand" src="images/show.png" /><img class="himage"
                                                                        id="B10hide" alt="hide" src="images/hide.png" />
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div id="B10" class="questbody">
                                                    <p>
                                                        &nbsp;&nbsp;You will receive your Pre-Paid Visa card between 10-15 business days
                                                        (excluding holidays) after you have completed a panel.
                                                        <br />
                                                        <br />
                                                        If you haven’t received your payment, please call us at 513-242-5752  so we may investigate
                                                        the issue.
                                                        <br />
                                                        <br />
                                                        Please remember, your Pre-Paid Visa card is valid for 6 months after issuance and
                                                        does not have ATM access.
                                                        <br />
                                                        <br />
                                                        Expired Pre-Paid Visa cards cannot be reissued and are not reloadable at this time.
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <div class="quest">
                                    <table cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td>
                                                <a name="#B11" class="button" name="open" onclick="Show('#B11',this)">
                                                    <div>
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    I just got an Email that said I qualify for a study?
                                                                </td>
                                                                <td>
                                                                    <img id="B11show" class="simage" alt="expand" src="images/show.png" /><img class="himage"
                                                                        id="B11hide" alt="hide" src="images/hide.png" />
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div id="B11" class="questbody">
                                                    <p>
                                                        &nbsp;&nbsp;Wonderful, that means you have met the qualifications required for the
                                                        study and we look forward to seeing you participate.
                                                        <br />
                                                        <br />
                                                        If you have any specific questions about your confirmation email, please call us
                                                        at 513-242-5752 .
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <div class="quest">
                                    <table cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td>
                                                <a name="#B12" class="button" name="open" onclick="Show('#B12',this)">
                                                    <div>
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    Can I bring my kids? / Do you have child care?
                                                                </td>
                                                                <td>
                                                                    <img id="B12show" class="simage" alt="expand" src="images/show.png" /><img class="himage"
                                                                        id="B12hide" alt="hide" src="images/hide.png" />
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div id="B12" class="questbody">
                                                    <p>
                                                        &nbsp;&nbsp;Children are not permitted to attend the research with you nor can you
                                                        leave any children in a waiting area. If you arrive with any children, you will
                                                        not be able to participate and there will be no compensation.
                                                        <br />
                                                        <br />
                                                        <span style="text-align: center; color: red;">** Note the only exception is for panelists
                                                            who are either picking up or dropping off product.</span>
                                                        <br />
                                                        <br />
                                                        The majority of the research facilities do not provide child care. If we are working
                                                        with a facility providing child care, you will be informed in your email confirmation
                                                        or via phone.
                                                        <br />
                                                        <br />
                                                        Still have questions? Call us at 513-242-5752.
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <div class="quest">
                                    <table cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td>
                                                <a name="#B13" class="button" name="open" onclick="Show('#B13',this)">
                                                    <div>
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    Can I finish the survey using my cell phone?
                                                                </td>
                                                                <td>
                                                                    <img id="B13show" class="simage" alt="expand" src="images/show.png" /><img class="himage"
                                                                        id="B13hide" alt="hide" src="images/hide.png" />
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div id="B13" class="questbody">
                                                    <p>
                                                        &nbsp;&nbsp;Yes, you can access surveys on any device (smart phone, tablet, computer)
                                                        that has an internet browser.
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <div class="quest">
                                    <table cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td>
                                                <a name="#B14" class="button" name="open" onclick="Show('#B14',this)">
                                                    <div>
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    I filled the questionnaire /screener out wrong, can you resend it?
                                                                </td>
                                                                <td>
                                                                    <img id="B14show" class="simage" alt="expand" src="images/show.png" /><img class="himage"
                                                                        id="B14hide" alt="hide" src="images/hide.png" />
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div id="B14" class="questbody">
                                                    <p>
                                                        &nbsp;&nbsp;Unfortunately, your answers were captured and the answers you provided
                                                        disqualified you from qualifying. To keep the integrating of the data, we do not
                                                        allow repeated attempts to qualify for a study.
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="fotter">
            <div class="fotter_border">
            </div>
            <br>
            <table width="100%" align="center">
                <tr>
                    <td width="25%">
                        &nbsp;
                    </td>
                    <td width="25%">
                        <a href="http://www.pg.com/privacy/english/privacy_notice.html">Privacy</a>
                    </td>
                    <td width="25%">
                        <a href="http://www.pg.com/en_US/terms_conditions/index.shtml">Terms & Conditions</a>
                    </td>
                    <td width="25%">
                        &nbsp;
                    </td>
                </tr>
            </table>
        </div>
    </div>
    </form>
    <script type="text/javascript" src="script/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="script/main.js"></script>
</body>
</html>
