<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
<div ><br />From: <b >{18}</b> <br />
Date: {1}<br />Subject: {2}<br />
<br />
********
<br />
<br />
To: {3}<br />
E-mail: {3}<br />
<br /><br />Merchant Notification<br />

<br />
Order #: {4}<br />
Order amount: US${5}<br />
Tax: US${8}<br />
<br />
Payment Type: {9}<br />
Date of Order: {1}<br />
Phone: {10}<br />
E-mail: {3}<br />
<br />
<br />
<br />
The Customer is:<br />
<br />
{0}<br />
{11}<br />
{12}<br />
{13}<br />
<br />
Products Ordered:<br />
<br />
Customer Id: {14}<br />
Name: {0}<br />
&nbsp;Description : {15}<br />
Invoice #={17}<br />
Billing date {16}<br />
Date sent {16}<br />
Installment<br />
<br />

</div>
</body>
</html>

