.tblacc
    {
        border-collapse: collapse !important;
        border-spacing: 0 !important;
        margin-top: 0.75em !important;
        border: 0 none !important;
    }
    .tblacc td
    {
        border-collapse: collapse !important;
        border-spacing: 0 !important;
        border: 0 none !important;
        padding: 0 !important;
    }
    .acc
    {
        border: 1px solid #e2e2e2 !important;
        background: #fff !important;
        color: #333 !important;
        font-size: 1.2em !important;
        margin: 0 !important;
        padding: 0 !important;
        width: 20px !important;
        text-align: center !important;
    }
    .errmsg
    {
        color: red !important;
    }