@using System.Web.Optimization;
@{
    ViewBag.Title = "Import Payee(s) - Swift Bill Pay";
    ViewBag.PageTitle = "Import Payee(s)";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div>
    <h5>1. To add single payee click - <a href="@Url.Action("AddPayeeDetails","User")"><i class="fa fa-plus"></i> Add Payee</a></h5> <br/>
    <h5>2. To add list of payees use below file upload option,</h5><br />
    
    @using (Html.BeginForm("ImportPayees", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="row">
                <div class="col-lg-6">
                      <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                      <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                      <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span><input type="file" name="file"></span>
                      <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                      </div>
                </div>
                <div class="col-lg-2">
                    <input type="submit" class="btn btn-primary btn-group btn-group-justified" value="Upload">
                </div>
            </div>
    }
</div>

