@{
    ViewBag.Title = "ImportPayees";
}

<div align="center">

Note:

1. If you Want to Add a Single Payee Please use the Following Link <a href="@Url.Action("AddPayeeDetails", "User")"><button>Add Payee</button></a>

or use Import File Option.


<fieldset>
<legend>Import Payees:</legend>

@using (Html.BeginForm("ImportPayees", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
     @Html.ValidationSummary(true)

    
    <div align="center" style="padding:20px 0px 10px 0px; color:Gray">
   
       
        <input type="file" name="file" id="file"/><br /><br />
        <input type="submit" value="Upload" />
        </div>
   
    
}
</fieldset>

</div>